<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" routerLink="/">
            <img src="https://cdn.pixabay.com/photo/2021/05/28/20/11/ouroboros-6291969_960_720.png"
            alt="Logo"
            width="30"
            height="30"
            class="me-2" />
            D&D Brawl</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" routerLink="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/races">Races</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/classes">Classes</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/feats">Feats</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/spells">Spells</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="/items">Items</a></li>
            </ul>
        </div>            

        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" routerLink="/about">About</a></li>
                    <li><a class="dropdown-item" routerLink="/contact">Contact</a></li>
                </ul>
            </li>
        </ul>




        <!--
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
        -->
        
    </div>
  </nav>